<table class="table table-condensed table-striped">
<b> Created Leads</b><hr>
<tr> 
	<th>Customer Name</th>
	<th>FHCode </th>
	<th>Request ID</th>
	<th>Status</th>
</tr>
<% @pending_on_tabs.each do |customer| %>
<tr>
	<td><%= customer.name %></td>
	<td><%= customer.reference_id %></td>
	<td><%= customer.request_id %></td>

	<% if customer.pending? %>
	<td><h6 class="label label-danger">

	<% elsif customer.completed? %>
	<td><h6 class="label label-success">

  <% end %>
	<%= customer.status.humanize %></h6></td>
	<!-- <td class="text-success"><b><%#= (customer.status=='in_progress') ? (link_to "Start Servey", new_address_servey_path(tab.customer)) : 'Servey Done!' %></b></td> -->
</tr>
<% end %>
</table>