<p>
  <strong>Seat Number:</strong>
  <%= @customer.education_verification.seat_number %>
</p>

<p>
  <strong>Stream:</strong>
  <%= @customer.education_verification.stream %>
</p>

<p>
  <strong>Month:</strong>
  <%= @customer.education_verification.month %>
</p>

<p>
  <strong>Year:</strong>
  <%= @customer.education_verification.year %>
</p>

